*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*导航栏*/
.nav{
    height:60px;
    background-image: linear-gradient(to right, #434876,#666b91);
    z-index: 1;/*z-index 属性指定一个元素的堆叠顺序。拥有更高堆叠顺序的元素总是会处于堆叠顺序较低的元素的前面。*/
    position: relative;
}
*{
    margin:0;
    padding:0;
    text-decoration: none;/*属性规定添加到文本的修饰，下划线、上划线、删除线等。*/
    list-style:none;
}
.ullist{
    position:absolute;
    left: 500px;
    top:10px;
}
.libt{
    float:left;/*	元素向左浮动。*/
    width:100px;
    height:40px;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
}
.libt a{
    color:rgb(255, 255, 255);
    display: block;/*属性规定元素应该生成的框的类型。*/
}
.libt a:hover{
    background-color:  #A3C7D6;
}
/*一级下拉*/
.droplist{
  background-image: linear-gradient(to right, #5d6184,#525990);
    box-shadow: 0px 1px 2px #49543c;
    display: none;
}
.libt:hover .droplist{
    display: block;
}
.droplist li{
    border-top: 1px solid #ccc;
    height: 40px;
}
/*显示二级下拉*/
.droplist li:hover .droplist2{
    display: block;
}
.droplist2{
    position:relative;
    left:100px;
    top:-41px;
    background-image: linear-gradient(to right, #404258,#282A3A);
    box-shadow: 0px 1px 2px #b699d1;
    display: none;
}
.p1{
    position:absolute;
    margin-left: 20%;
    margin-top: 5%;
    animation-duration: 3s;
    animation-name: slidein; 
    font-family: Didot,serif;   
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    width: 70%;
    
}
.p1 a{
    text-decoration: none;
    color: white;
}
@keyframes slidein{
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 20%;
        width: 50%;
    }
    75% {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
    }
}



body{
    /* 100%窗口高度 */
    height: 100vh;
    
    
    /* 径向渐变背景 */
    background: radial-gradient(circle at top center,#d8e8f8,#909caa);
}
.container{
    /* 弹性布局 默认水平排列 */
    display: flex;
    position: absolute;
    width: 90vw;
    max-width: 60%;
    height: 50%;
    /* 溢出隐藏 */
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.item{
    /* 相对定位 */
    position:relative;

    width: 60px;
    margin: 10px;
    cursor: pointer;
    border-radius: 30px;
    /* 保持原有尺寸比例，裁切长边 */
    background-size: cover;
    /* 定位背景图像为正中间 */
    background-position: center;
    /* 过渡效果：时长 贝塞尔曲线 */
    transition: 0.5s cubic-bezier(0.05,0.61,0.41,0.95);
    overflow: hidden;
    
}

.item .shadow{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    transition: 0.5s cubic-bezier(0.05,0.61,0.41,0.95);
}
.item .content{
    display: flex;
    position: absolute;
    left: 10px;
    right: 0;
    bottom: 10px;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05,0.61,0.41,0.95);
}
.item .content .icon{
    min-width: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.item:nth-child(1) .fa{
    color: #fc6e51;
}
.item:nth-child(2) .fa{
    color: #ffce54;
}
.item:nth-child(3) .fa{
    color: #2ecc71;
}
.item:nth-child(4) .fa{
    color: #5d9cec;
}
.item:nth-child(5) .fa{
    color: #ac92ec;
}
.item .content .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: #fff;
    width: 100%;
}
.item .content .text div{
    /* 超出显示省略号（需要设置width） */
    width: calc(100% - 70px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
.item .content .text .tit{
    font-weight: bold;
    font-size: 18px;
}
.item .content .text .sub{
    /* 设置过渡效果延迟时间 */
    transition-delay: 0.1s;
}
/* 选中态样式 */
.item.active{
    flex: 1;
    margin: 0;
    border-radius: 40px;
}
.item.active .shadow{
    background: linear-gradient(to top,rgba(0,0,0,0.35) 65%,transparent);
}
.item.active .content{
    bottom: 20px;
    left: 20px;
}
.item.active .content .text div{
    opacity: 1;
}





